
$('.thriceXXX').append('Repeat user: <%= @comment.user_id %>'); 
$('#save_message').append('NICE WORK!');
$('#comment').append('<%= @comment.comment %>');
$('#logged_in').append('<h3>Thanks for your comment: <%= current_user.email %></h3>');
