<div>
    <div><h4>Recent Tweets...</h4></div>
    <% @last10.each do |tweet| %>
      <table class="table table-bordered table-striped">
        <tr>
          <td><%= tweet.tweet %></td>
        </tr>
        <tr>
          <td><%= tweet.num_comment %> <%= link_to "comments...", tweet %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>

</div>
